body {
  /* background-image: url(/green-felt-background-texture-poker-casino-table_434420-1498.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-color: #101a27;
  /* overflow: hidden; */
  margin:0;
  user-select: none; 

}

.game {
    width:100%;
    min-height: 100%;
    margin:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.table {
    width: 90%;
    min-height: 600px;
    background-color:rgb(116, 109, 122) ;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding-top: 20px;
    margin-top: 20px;
}

.your-side, .dealer-side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.button {
  --color1: #644dff;
  --color2: #4836bb;
  --color-3: #654dff63;
  cursor: pointer;
  width: 184px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.125em;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
  background: var(--color1);
  border: 2px solid var(--color2);
  border-radius: .75rem;
  box-shadow: 0 8px 0 var(--color2);
  transform: skew(-10deg);
  transition: all .1s ease;
  filter: drop-shadow(0 15px 20px var(--color-3));
}

.button:active {
  letter-spacing: 0px;
  transform: skew(-10deg) translateY(8px);
  box-shadow: 0 0 0 var(--color-3);
}

.actions, .actions-2 {
  width: 48%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.actions > h1 {
  margin: 1em;
  text-align: center;
}
.actions-2 > h1 {
  margin: 0;
  text-align: center;

}



.card {
    height:230px;
    width:150px;
    background-color: rgb(129, 139, 148);
    margin:2em;
}


.input {
    font-family: monospace;
    max-width: 190px;
    outline: none;
    border: 1px solid #dadada;
    padding: 10px;
    border-radius: 5px;
    background-color: #f3f7fe;
    transition: .3s;
    color: #3b82f6;
    margin:.75em;
  }
  
  .input:focus {
    border: 1px solid #3b82f6;
    box-shadow: 0 0 0 4px #3b83f65f
  }

  .over {
    display: none;
    z-index: 999;
    width:400px;
    height:400px;
    position: absolute;
    background-image: url(/pngegg.png);
    background-size: cover;
    /* background-position: center; */
  }


  